@if (movie){
    <div class="movie-details">
        <div class="movie-details__body">
            <div class="movie-details__poster"><img [src]="imageUrl" alt="Poster"></div>
            <div class="movie-details__content">
                <h2 class="movie-details__title">{{movie.title}}</h2>
                <p><span>Короткий опис: </span>{{movie.overview}}</p> 
                <p><span>Рік виходу: </span>{{movie.release_date}}</p>
                <p><span>Рейтинг: </span>{{movie.vote_average}}</p>   
                <ul class="movie-details__genres">
                    @for (item of genres; track $index) {
                      <li>{{ item }}</li>
                    }
                </ul>          
            </div>
        </div>
        <mat-card-actions class="movie-card__actions">
            <button mat-button (click)="onAddToFavorites(movie.id)">
                <mat-icon>favorite_border</mat-icon>
            </button>
            <button mat-button (click)="onAddToWatchList(movie.id)">
                <mat-icon>format_list_bulleted_add</mat-icon>      
            </button>
        </mat-card-actions>
    </div>
}

