
<mat-toolbar class="header-nav">
    <span class="example-spacer"></span>
    <button class="link" (click)="navigateWithData(favoritesIds,'favorite')" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button class="link" (click)="navigateWithData(watchLaterIds)" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>smart_display</mat-icon>
    </button>
  </mat-toolbar>
