<header class="header">
    <div class="header__container">
        <div class="header__menu menu">
            @if(categoryMoviesList.length > 0){
                <ul class="menu__list">
                    @for(categoryItem of categoryMoviesList; track categoryItem.id){
                        <li class="menu__item">
                            <a href="#" class="menu__link">{{categoryItem.categoryName}}</a>
                        </li>
                    }
                </ul>
               
            }
            <!-- <ul *ngFor="let categoryItem of categoryMoviesList; trackBy: trackById" class="menu__list" >
                <li class="menu__item"><a href="#" class="menu__link">{{categoryItem.categoryName}}</a></li>
            </ul> -->
        </div>   
        <ng-container *ngIf="userName.length > 0">
            <p *ngIf="isLoggedUser">Авторизований користувач: <span [ngClass]="{'log-in' : isLoggedUser}">{{userName}}</span></p>
        </ng-container>     
    </div>
</header>