<article class="movie-card">
    <a href="#" class="movie-card__link">
        <img [src]="movieData.imgPath" alt="Image">
    </a>
    <button class="movie-card__favorite" (click)="onAddToFavoritesList(movieData.id)">
        <img src="../../../assets/images/favorite.svg" alt="Favorite">
    </button>  
    <button class="movie-card__play-list" (click)="onAddToWatchList(movieData.id)">
        <img src="../../../assets/images/list_icon.svg" alt="Play List">
    </button>  
    <div class="movie-card__details">
        <h2 class="movie-card__title">{{movieData.title}}</h2>
        <p>Рік виходу: {{movieData.release_year}}</p>
        <p>Рейтинг: {{movieData.rating}}</p>
        <p>{{movieData.overview}}</p>
        <p>Касові збори: {{movieData.rental_movie | numberFormat}}</p>
    </div>
</article>