.movies-list  {
    padding-top: 20px;
    &__title{
        font-size: 30px;
        &:not(:last-child){
            margin-bottom: 30px;
        }
    }
    &__items{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px,0.2fr));
        gap: 20px;
        align-items: stretch;
        justify-content: start;
    }
}

